<div class="list-group col-md-6 offset-md-3 text-center" style="margin-top: 75px">
  <a routerLink="../orders" class="list-group-item list-group-item-action list-group-item-primary">View Orders</a>
  <a routerLink="../products" class="list-group-item list-group-item-action list-group-item-primary">Manage Products</a>
  <a routerLink="../products/categories" class="list-group-item list-group-item-action list-group-item-primary">Manage Categories</a>
  <!-- <a routerLink="../manage" class="list-group-item list-group-item-action list-group-item-primary">Manage Employees</a> -->
  <!-- <a routerLink="../history" class="list-group-item list-group-item-action list-group-item-primary">View Order History</a> -->
</div>