<div style="margin: auto; max-width: 600px;">
<data-table
[items]="product"
[itemCount]="carCount"
(reload)="reloadCars($event)"

[pagination]="false"
[indexColumn]="false"
[selectColumn]="false"
[multiSelect]="false"
[rowColors]="rowColors"
>

<data-table-column
property="name"
header="Name">
</data-table-column>

<data-table-column
property="quantity"
header="Quantity"
sortable="true">
<ng-template #dataTableCell let-item="item">
  <input type="number" [(ngModel)]="item.quantity" (change)="updateProduct(item)" class="form-control input-sm" style="width: 75px" min="1"/>
</ng-template>
</data-table-column>
<data-table-column
property="price"
header="Price">
</data-table-column>
<data-table-column
header="Amount">
<ng-template #dataTableCell let-item="item">
  <!-- <input type="number" [(ngModel)]="item.quantity" class="form-control input-sm" style="width: 75px"/> -->
  <label>{{item.quantity*item.price}}</label>
</ng-template>
</data-table-column>
<data-table-column
header="Cancel">
<ng-template #dataTableCell let-item="item">
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDialogModal" (click)="removeFromCart(item)">
  ×
</button>


</ng-template>

</data-table-column>
</data-table>
<div>
  Total Price: {{totalPrice}}{{ano}}
</div>
<div>
  <button class="btn btn-primary" (click)="checkout()">Check Out</button>
</div>

<!-- Modal -->
<div class="modal" id="confirmDialogModal" tabindex="-1" role="dialog" aria-labelledby="confirmDialogModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDialogModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove {{(itemToRemove!=null)?itemToRemove.name:''}} from cart?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      
        <button type="button" (click)="deleteProduct()" data-dismiss="modal" class="btn btn-danger">Remove</button>
  
      </div>
    </div>
  </div>
</div>

<!-- <div><button (click)="addProduct($event)">Add Product</button></div> -->
<div class="modal" id="orderSuccessfulDialogModal" tabindex="-1" role="dialog" aria-labelledby="orderSuccessfulDialogModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderSuccessfulDialogModalLabel">Order Successful!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Your order has been placed successfully.<br>
        Coupon code: <strong>{{couponCode}}</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="orderSuccessDialogClosed()">Ok</button>
      
        <!-- <button type="button" (click)="orderSuccessfulDialogModalClose()" data-dismiss="modal" class="btn btn-primary">Delete Order</button> -->
  
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="noItemsInCartDialogModal" tabindex="-1" role="dialog" aria-labelledby="noItemsInCartDialogModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noItemsInCartDialogModalLabel">No items to checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        There are no Items in the cart
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
</div>