<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#">Canteen</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <!-- <ul class="nav navbar-nav">
              <li class="nav-item"><a href="#" class="nav-link">About</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Service</a></li>
              <li class="nav-item"><a href="#" class="nav-link">More</a></li>
          </ul> -->
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="nav-item order-2 order-md-1" *ngIf="!isEmployee">
                    <a (click)="openCart()" class="nav-link" title="Shopping Cart" style="margin-right: 15px;">
                        <i class="fa fa-shopping-cart fa-fw fa-lg"></i>
                    </a>
                </li>
                <li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">{{(loggedIn) ? userFirstName: "Login"}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right mt-1">
                        <li class="p-3" *ngIf="!loggedIn">
                            <form class="form" role="form" novalidate [formGroup]="_loginForm" id="msform1" enctype="multipart/form-data" (ngSubmit)="customerLogin()">
                                <div class="alert alert-danger" role="alert" *ngIf="invalidLogin">
                                    Invalid Username/Password
                                </div>
                                <div class="form-group">
                                    <input id="username" placeholder="Email/Phone no." class="form-control form-control-sm" type="text" formControlName="username"
                                        required [ngClass]="{'is-invalid': _loginForm.controls.username.invalid && _loginForm.controls.username.dirty,
                   'is-valid': _loginForm.controls.username.valid && _loginForm.controls.username.dirty}">
                                    <div class="invalid-feedback" *ngIf="_loginForm.controls.username.invalid && _loginForm.controls.username.dirty">
                                        * Invalid E-mail/Phone no
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="loginPassword" placeholder="Password" class="form-control form-control-sm" type="password" formControlName="password"
                                        required [ngClass]="{'is-invalid': _loginForm.controls.password.invalid && _loginForm.controls.password.dirty,
                   'is-valid': _loginForm.controls.password.valid && _loginForm.controls.password.dirty}">
                                    <div class="invalid-feedback" *ngIf="_loginForm.controls.password.invalid && _loginForm.controls.password.dirty">
                                        * Invalid Password
                                    </div>
                                </div>
                                <div class="text-center" *ngIf="authenticating && !invalidLogin">
                                    <i class="fa fa-circle-o-notch fa-spin"></i>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </div>
                                <!-- <div class="form-group text-xs-center">
                                    <small>
                                        <a href="#">Forgot password?</a>
                                    </small>
                                </div> -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">
                                    Sign Up
                                </button>
                                <small>
                                        <a href="#" data-toggle="modal" data-target="#employeeLoginModal">Employee Login</a>
                                </small>
                            </form>
                        </li>
                        <li>
                            <div class="list-group" *ngIf="loggedIn">
                                <a class="list-group-item list-group-item-action" routerLink="/orders" *ngIf="!isEmployee">View Orders</a>
                                <a href="#" class="list-group-item list-group-item-action" (click)="logout()">
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-left" style="margin-top: 50px;" role="navigation">
    <div class="container">
        <!-- <a class="navbar-brand" href="#">Canteen</a> -->
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactus" *ngIf="!isEmployee">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!isEmployee">About</a>
                </li>
                <!-- <li class="nav-item"><a href="#" class="nav-link">More</a></li> -->
            </ul>
            <!-- <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
              <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
              <li class="dropdown order-1">
                  <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right mt-1">
                    <li class="p-3">
                          <form class="form" role="form">
                              <div class="form-group">
                                  <input id="emailInput" placeholder="Email" class="form-control form-control-sm" type="text" required="">
                              </div>
                              <div class="form-group">
                                  <input id="passwordInput" placeholder="Password" class="form-control form-control-sm" type="text" required="">
                              </div>
                              <div class="form-group">
                                  <button type="submit" class="btn btn-primary btn-block">Login</button>
                              </div>
                              <div class="form-group text-xs-center">
                                  <small><a href="#">Forgot password?</a></small>
                              </div>
                          </form>
                      </li>
                  </ul>
              </li>
          </ul> -->
        </div>
    </div>
</nav>
<!-- Modal -->
<div class="modal" id="needLoginModal" tabindex="-1" role="dialog" aria-labelledby="needLoginModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="needLoginModalLabel">Please login</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
		  </button>
		</div>
		<div class="modal-body">
		  Please login to view cart
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
		</div>
	  </div>
	</div>
  </div>