<style>
	div.card:hover{
		box-shadow: 5px 5px 5px 5px #888;
	}
</style>
<div class="card" style="padding: 10px; margin: 12px;">
	<img class="card-img-top" src="../../assets/images/Samosachutney.jpg"
		alt="Card image cap">
	<div class="card-block">
		<h4 class="card-title">Samosa</h4>
		<h6>
			<strong>₹10</strong> <span class=""
				style="text-decoration: line-through;">₹12</span> <span
				style="color: green;">17% off</span>
		</h6>
		<p class="card-text">Some quick example text to build on the card
			title and make up the bulk of the card's content.</p>
		<a href="#" class="btn btn-outline-primary">Add to cart</a>
	</div>
</div>