<style>
	div.card:hover{
		box-shadow: 5px 5px 5px 5px #888;
	}
</style>
<div class="card" style="padding: 10px; margin: 12px;">
	<img class="card-img-top" [src]="imageUrl+product.productImageUrl"
		alt="Card image cap">
	<div class="card-block">
		<h4 class="card-title">{{product.name}}</h4>
		<h6>
			<strong>₹{{product.price}}</strong> <span class="" *ngIf="(product.price/product.oldPrice)<1"
				style="text-decoration: line-through;">₹{{product.oldPrice}}</span> <span *ngIf="(product.price/product.oldPrice)<1"
				style="color: green;">{{product.price/product.oldPrice | percent}} off</span>
		</h6>
		<p class="card-text" style="max-height: 5em; min-height: 5em; overflow: hidden;">{{product.description}}</p>
		<a class="btn btn-outline-primary" (click)="addProduct(product)">Add to cart</a>
	</div>
</div>