<div>
    <button style="margin-left: 10px; margin-top: 20px;" type="button"
     (click)="openAddProductDialog()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addProductModal">
        Add Product
      </button>
    <app-employee-add-product-form (onProductAdded)="onProductAdded($event)"
     (onProductUpdated)="onProductUpdated($event)"></app-employee-add-product-form>
</div>
<div style="margin: auto;" class="text-center">
  <data-table
  [items]="product"
  [itemCount]="productCount"
  (reload)="reloadProducts($event)"
  
  [pagination]="true"
  [indexColumn]="false"
  [selectColumn]="false"
  [multiSelect]="false"
  [rowColors]="rowColors"
  >
  
  <data-table-column
  property="productId"
  header="ID">
  </data-table-column>
  
  <data-table-column
  property="name"
  header="Name">
  </data-table-column>
  
  <data-table-column
  header="Category">
  <ng-template #dataTableCell let-item="item">
      <!-- <input type="text" [(ngModel)]="item.category.name" class="form-control input-sm" style="width: 75px"/> -->
      {{item.category.name}}
    </ng-template>
  </data-table-column>

  <data-table-column
  property="price"
  header="Price">
  </data-table-column>

  <!-- <data-table-column
  property="quantity"
  header="Quantity">
  </data-table-column> -->


  <data-table-column
  property="tags"
  header="Tag">
  </data-table-column>

  <data-table-column
  property="description"
  header="Description">
  </data-table-column>

  
  <data-table-column
  header="Update">
  <ng-template #dataTableCell let-item="item">
  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#updateProductModal">
    Update
  </button> -->
  <button type="button" (click)="openUpdateProductDialog(item)" class="btn btn-info"data-toggle="modal" data-target="#addProductModal">
      Update
    </button>
  </ng-template>
  </data-table-column>
  <data-table-column
  header="Delete">
  <ng-template #dataTableCell let-item="item">
  <!-- Button trigger modal -->
  <button type="button" (click)="showConfirmDeleteProduct(item)" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteProductModal">
    Delete
  </button>
  
  
  </ng-template>
  
  </data-table-column>
  </data-table>
  <div>
  </div>
  
  <!-- Modal -->
  <div class="modal" id="confirmDeleteProductModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteProductModalLabel">Are you sure to Delete?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete {{(productToDelete!=null)?productToDelete.name:''}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        
          <button type="button" (click)="deleteProduct()" data-dismiss="modal" class="btn btn-primary">Delete Product</button>
    
        </div>
      </div>
    </div>
  </div>
  </div>