<div class="row">
	<app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
  <app-product-box class="col-md-3"></app-product-box>
</div>