<div class="row" *ngIf="products">
  <app-product-box class="col-md-3" *ngFor="let product of products" [product]="product" (onProductAdded)="onProductAdded($event)"> </app-product-box>
</div>
<!-- Modal -->
<div class="modal" id="addToCartSuccessModal" tabindex="-1" role="dialog" aria-labelledby="addToCartSuccessModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToCartSuccessModalLabel">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {{(productAddedToCart != null)?productAddedToCart.name:''}} added to cart
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="goToCart()">Go to cart</button>
      </div>
    </div>
  </div>
</div>