<div>
    <button style="margin-left: 10px; margin-top: 20px;" type="button"
     class="btn btn-primary btn-lg" data-toggle="modal" data-target="#redeemOrderModal">
        Redeem Coupon
      </button>
    <app-redeem-coupon></app-redeem-coupon>
</div>
<div style="margin: auto;" class="text-center">
  <data-table
    [items]="order" 
    [itemCount]="orderCount" 
    (reload)="reloadOrders($event)" 
    [pagination]="true" 
    [indexColumn]="false"
    [selectColumn]="false" 
    [multiSelect]="false" 
    [rowColors]="rowColors">

    <data-table-column property="orderId" header="ID">
    </data-table-column>
    <data-table-column header="Customer Name">
      <ng-template #dataTableCell let-item="item">
        {{item.customer.firstName}}
      </ng-template>
    </data-table-column>

    <data-table-column header="Order list">
      <ng-template #dataTableCell let-item="item">
        <table>
          <th>Name</th>
          <th>Quantity</th>
          <tr *ngFor="let product of item.products">
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
          </tr>
        </table>
      </ng-template>
    </data-table-column>

    <data-table-column header="Ordered At">
      <ng-template #dataTableCell let-item="item">
        {{item.orderTime | date:'medium'}}
      </ng-template>
    </data-table-column>

    <data-table-column header="Ready">
      <ng-template #dataTableCell let-item="item">
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#productlistModal">
          Ready
        </button> -->
        <button type="button" class="btn btn-success btn-lg" (click)="orderReady(item)">
            Ready
          </button>
  

        
      </ng-template>

    </data-table-column>
    <!-- <data-table-column header="Update">
      <ng-template #dataTableCell let-item="item">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#updateProductModal">
          Update
        </button>
      </ng-template>
    </data-table-column>-->
  </data-table>
  <div>
  </div>


</div>